.collection {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 auto 30px;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    direction: rtl;

    .collection-item {
      margin-bottom: 30px;
    }
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
}
